<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    
</head>

<body>
    <header>      
        <div >

            <a href="/Home" class="btn">Home Page</a>

            <form action="/Client/Search" method="get" >
                 <input style="text-align: center;" name="qwery" type="text" placeholder="Поиск по фамилии">
                 
                 <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: middle;">Поиск</font></button>
            </form>
        </div>
        
    </header>
    

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
