html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
    text-align:center;
}

.none {
    display: none;
}

.search{
    text-align: center;
    width: 200px;
}

.headertop{ 
    display:block
    background-color: orangered;
    margin:30px 100%;
    
}
